<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- 定义日志目标 -->
  <targets async="true">
    <target xsi:type="File" name="MyModbusTarget" fileName="${basedir}/logs/MyModbus-${shortdate}.log"
            layout="${longdate} ${level} ${message} ${onexception:${exception:format=tostring}}" />
    <target xsi:type="File" name="MyModbusAlarmTarget" fileName="${basedir}/logs/MyModbusAlarm-${shortdate}.log"
            layout="${longdate} ${level} ${message} ${onexception:${exception:format=tostring}}" />
  </targets>

  <!-- 定义日志规则 -->
  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="f" />-->
    <logger name="*" minlevel="Info" writeTo="MyModbusTarget" />
    <logger name="MyModbusAlarmLogger" minlevel="Info" writeTo="MyModbusAlarmTarget" />
  </rules>
</nlog>
